@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* #blog-section {
    font-family: "Roboto Condensed", sans-serif !important;
    background-color: #282c34;
    color: white;
} */